.shadow {
    box-shadow: 2px 2px 0px #ccc;
}

.custom {
    margin-bottom: 10px;
}

.panel {
    width: 100%;
}

.badge {
    background: url("../img/albert.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40px;
    width: 200%;
}
#menuLeft {
    margin-top: 10px;
}

#menuRight {
    margin-right: 20px;
}