 <link href="css/style_course.css" rel="stylesheet">




<div class="container courseBorde">
    <div class="row">
        <div class="col-md-12">.col-md-212</div>
    </div>
  

</div>







<div class="row courseBorde">
    <div class="small-12 large-12 columns courseBackgoundStep">
        <h2><b>-> Hur du blir en utforskare av världen!</b></h2>
    </div>
</div>
<div class="row border-course-box">

        <div class="small-12 large-12 columns">
            <div class="small-12 large-12 columns">
                <h3>Introduktion/beskrivning</h3>
            </div>
            <div class="small-12 large-12 columns">
                Sed porttitor lectus nibh. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.
            </div>
        </div>
        <div class="small-12 large-12 columns spacing">
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Accordion 1</a>
    <div id="panel1a" class="content active">
      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2a">Accordion 2</a>
    <div id="panel2a" class="content">
      Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel3a">Accordion 3</a>
    <div id="panel3a" class="content">
      Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </li>
</ul>
            
            
            
            
            <div class="small-12 large-12 columns border-steps-box">
            <div class="small-12 large-12 columns"><h3>Step 1 - Find your v'a'g</h3></div>
                <div class="small-12 large-12 columns hide-me spacing">
                    <b><ul><li>First uppgift</li></ul></b>
                    <div class="small-8 large-8 columns">Läs boken abvout Fabio</div>
                    <div class="small-4 large-4 columns checkboxDemo1">Finish

                    </div>
                </div>

                <div class="small-12 large-12 columns hide-me spacing">
                    <b><ul><li>Sec uppgift</li></ul></b>
                    <div class="small-8 large-8 columns">DO THIS</div>
                    <div class="small-4 large-4 columns">Finish</div>
                </div>
            </div>
            </div>
        </div>
        <div class="small-12 large-12 columns spacing">
            Skriven och producerad av MR. Bond<br><br>
        </div>
    </div> 
</div>
<script>
$(document).foundation('accordion', 'reflow');

</script>
            
       <!--     
         </div>
         <div class="small-12 large-12 columns"><b>Andra uppgift</b><br>
                <div class="small-8 large-8 columns">DO THIS</div>
                <div class="small-4 large-4 columns">Finish</div>       
         </div>
        