<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <h2 align="left" style="color: #fff;">Indagator</h2>
      <p class="footer-links">
        <a href="#">Home</a>
        <a href="#/news">News</a>
        <a href="#/profile">Profile</a>
        <a href="#">About</a>
        <a href="#">Faq</a>
        <a href="#">Contact</a>
      </p>
      <p class="copywrite">Copywrite not copywrite © 2016</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-marker"></i>Pirgatan, 374 35 Karlshamn</p></li>
        <li><p><i class="fi-telephone"></i>+46 454 325487</p></li>
        <li><p><i class="fi-mail"></i>indagator@bth.se</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">About Indagator</p>
      <p class="about subheader">Strike me down, and I will become more powerful than you could possibly imagine.</p>
      <ul class="inline-list social">
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-linkedin"></i></a>
        <a href="#"><i class="fi-social-github"></i></a>
      </ul>
    </div>
  </div>
</footer>