<link href="css/style_profile.css" rel="stylesheet">
<div class="row border">
    <div class="col-md-12 bgcolor">
        <div class="col-md-6"><br><br>
            <img class="profileBadge" src="../img/albert.jpg" alt=""><br>
            <h3> Dr. {{user.firstname}} {{user.lastname}}</h3>
        </div>
        <div class="col-md-6">

<blockquote class="blockquote-reverse bottom">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. <br>
<i>Someone famous in Source Title - </i>
</blockquote>          
        </div>
    </div>

    <div class="col-md-12"><br><br>
        <div class="col-md-3">
            <table class="table table-striped">
				<thead>
					<tr>
						<th>Fields</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Physics, philosophy</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Institutions</th>
					</tr>
				</thead>
					<tr><td>Swiss Patent Office (Bern) (1902–1909)</td></tr>
					<tr><td>University of Bern (1908–1909)</td></tr>
					<tr><td>University of Zurich (1909–1911)</td></tr>
					<tr><td>Charles University in Prague (1911–1912)</td></tr>
					<tr><td>ETH Zurich (1912–1914)</td></tr>
					<tr><td>Prussian Academy of Sciences (1914–1933)</td></tr>
					<tr><td>Humboldt University of Berlin (1914–1917)</td></tr>
					<tr><td>Kaiser Wilhelm Institute (director, 1917–1933)</td></tr>
					<tr><td>German Physical Society (president, 1916–1918)</td></tr>
					<tr><td>Leiden University (visits, 1920–)</td></tr>
					<tr><td>Institute for Advanced Study (1933–1955)</td></tr>
					<tr><td>Caltech (visits, 1931-33)</td></tr>

			</table>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Notable awards</th>
					</tr>
				</thead>
				<tbody>
					<tr><td>Barnard Medal (1920)</td></tr>
					<tr><td>Nobel Prize in Physics (1921)</td></tr>
					<tr><td>Matteucci Medal (1921)</td></tr>
					<tr><td>ForMemRS (1921)[2]</td></tr>
					<tr><td>Copley Medal (1925)[2]</td></tr>
					<tr><td>Max Planck Medal (1929)</td></tr>
					<tr><td>Time Person of the Century (1999)</td></tr>
				</tbody>
			</table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
				<thead>
					<tr>
						<th>{{data.title}}</th>
					</tr>
				</thead>
				<tbody>
					<tr><td>{{data.desc}}</td></tr>
				</tbody>
			</table>
            <br>
            
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
</div>