<link href="css/style_profile.css" rel="stylesheet">
<div class="row border">
    <div class="col-md-12 bgcolor">
        <div class="col-md-6"><br><br>
            <img class="profileBadge" src="../img/albert.jpg" alt=""><br>
            <h3> Dr. {{user.firstname}} {{user.lastname}}</h3>
        </div>
        <div class="col-md-6">

<blockquote class="blockquote-reverse bottom">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. <br>
<i>Someone famous in Source Title - </i>
</blockquote>          
        </div>
    </div>

    <div class="col-md-12"><br><br>
        <div class="col-md-3">Fields</div>
        <div class="col-md-6">bajs</div>
        <div class="col-md-3">bajs</div>
    </div>
</div>


<!--
<div class="row">
	<div class="col-md-4">
		<table width="100%">
			<thead>
				<tr>
					<th><center>Profile</center></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img class="profileBadge" src="../img/albert.jpg" alt=""></td>
				</tr><tr>
					<td><b><center>Dr. </center></b></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-8">
		Fields

		
	</div>

	<div class="col-md-12">time</div>
</div>
<hr>
<div class="row">
	<div class="col-md-4">Projects<br>
		<a href="#" class="button small secondary">Fördjupning i berättande</a>
	</div>
	<div class="col-md-6">info</div>
	<div class="col-md-2">time2</div>
</div>
<!--			
			<div class="small-12 large-12 columns">
			
			
			<table width="100%">
				<thead>
					<tr>
						<th>Fields</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Physics, philosophy</td>
					</tr>
				</tbody>
			</table>
			<table width="100%">
				<thead>
					<tr>
						<th>Institutions</th>
					</tr>
				</thead>
				<tbody>
					<tr><td>Swiss Patent Office (Bern) (1902–1909)</td></tr>
					<tr><td>University of Bern (1908–1909)</td></tr>
					<tr><td>University of Zurich (1909–1911)</td></tr>
					<tr><td>Charles University in Prague (1911–1912)</td></tr>
					<tr><td>ETH Zurich (1912–1914)</td></tr>
					<tr><td>Prussian Academy of Sciences (1914–1933)</td></tr>
					<tr><td>Humboldt University of Berlin (1914–1917)</td></tr>
					<tr><td>Kaiser Wilhelm Institute (director, 1917–1933)</td></tr>
					<tr><td>German Physical Society (president, 1916–1918)</td></tr>
					<tr><td>Leiden University (visits, 1920–)</td></tr>
					<tr><td>Institute for Advanced Study (1933–1955)</td></tr>
					<tr><td>Caltech (visits, 1931-33)</td></tr>
				</tbody>
			</table>
			<table width="100%">
				<thead>
					<tr>
						<th>Notable awards</th>
					</tr>
				</thead>
				<tbody>
					<tr><td>Barnard Medal (1920)</td></tr>
					<tr><td>Nobel Prize in Physics (1921)</td></tr>
					<tr><td>Matteucci Medal (1921)</td></tr>
					<tr><td>ForMemRS (1921)[2]</td></tr>
					<tr><td>Copley Medal (1925)[2]</td></tr>
					<tr><td>Max Planck Medal (1929)</td></tr>
					<tr><td>Time Person of the Century (1999)</td></tr>
				</tbody>
			</table>
			</div>
		</div>
		<div class="small-6 large-8 columns">
			<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
  				<span style="font-size: 20px; background-color: #fff; padding: 0 10px;">
    				Workbook
				</span>
			</div><br>
			<div class="small-12 large-12 columns" ng-repeat="news in posts|limitTo:8">
				<div class="small-12 large-12 columns">
					<h3>{{posts[$index].title}}</h3>
				</div>
				<div class="small-12 large-12 columns">
					{{posts[$index].content}}<br><hr>
				</div>
			</div>
			<ul class="pagination">
			<div class="small-2 large-2 columns"><li class="arrow unavailable"><a href="">&laquo;</a></li></div>
			<div class="small-8 large-8 columns">
					<li class="current"><a href="">1</a></li>
					<li><a href="">2</a></li>
			  		<li><a href="">3</a></li>
			  		<li><a href="">4</a></li>
			  		<li class="unavailable"><a href="">&hellip;</a></li>
			  		<li><a href="">12</a></li>
			  		<li><a href="">13</a></li>
			  		<li><a href="">14</a></li>
			  		<li><a href="">15</a></li>
			</div>
			<div class="small-2 large-2 columns"><li class="arrow"><a href="">&raquo;</a></li></div>
			</ul>
		</div>
		<br><br>
	</div>
</div><br><br>

-->