.shadow {
    box-shadow: 1px 1px 0px #EBEBEB;
    
}

.navbarCustom {
    margin-bottom: 10px;
    background-color:rgba(192,192,192,0.05);
}

.profileBadge {
    background: url("../img/albert.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40px;
    width: 200%;
}
#menuLeft {
    padding-top: 10px;
}

#menuRight {
    margin-right: 20px;
}

.logo {
    background-color: #fefefe;
    text-align: center;
}

/* Giving each header a certain font. Better way to do this? */
h1  {   
    font-family: 'Raleway', sans-serif;
    font-size: 4.5em;
}

/* Making sure there is not a grey background around each unordered list. */
ul.menu {
    background-color: transparent;
}

a {
    font: black;
}